<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <a class="navbar-brand" routerLink='/'>RecipeBook</a>
       </div>
         <div *ngIf='loginService.isAuthenticated()'>
            <ul class="nav navbar-nav">
              <li routerLinkActive='active'
              [routerLinkActiveOptions]='{exact:true}'><a routerLink='recipes'>Recipes</a></li>
              <li routerLinkActive='active'><a routerLink='/shoppinglist'>Shopping-list</a></li>
      </ul>
         </div>
       <ul class="nav navbar-nav navbar-right">
        
         <ng-template [ngIf]='!loginService.isAuthenticated()' style="display:inline-block;">
            <li><a routerLink='/signup'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a routerLink='/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         </ng-template>
        
          <li *ngIf='loginService.isAuthenticated()'><a routerLink='/login' (click)='logout()'><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
  </div><!-- /.container-fluid -->
</nav>