<div class='row'>
    <div class='form-group'>
      <label for='name'>Name:</label>
      <input id='name' class='form-control'type='text' [(ngModel)]='editItem.name'>
    </div>
    <div class='form-group'> 
      <label for='name'>Image</label>
      <input id='image' class='form-control'type='text' [(ngModel)]='editItem.imagePath'>
    </div>
    <div class='form-group'>
      <label for='name'>description:</label>
      <input id='description' class='form-control' type='text' [(ngModel)]='editItem.text'>
    </div>
    <button type='button' class='btn btn-primary' (click)='editItemRecipe(editItem)'>Edit</button>
</div>