<div class='container'>
  <div class='row'>
    <div class='col-lg-6'>
      <!--<app-recipe-list (recipeOutput)="selectedRecipe = $event"></app-recipe-list>-->
      <app-recipe-list></app-recipe-list>
    </div>
    <div class='col-lg-6'>
      <!--<app-recipe-details #appRecipe *ngIf="selectedRecipe; else elseBlock"
      [recipeDetails]='selectedRecipe'></app-recipe-details>-->
      <!--<ng-template>
        <p>Please select a recipe</p>
      </ng-template>-->
      <app-recipe-details></app-recipe-details>
    </div>
  </div>
</div>
