
<div class='row'>
  <div class='col-lg-12'>
    <img src="" alt="" class='img-responsive'>
  </div>
</div>
<br>
<div class='row'>
  <div class='col-md-6'>
    <div *ngIf='detailView'>
      <div class='panel panel-default'>
        <div class='panel-heading'><h1>{{recipeDetails.name}}</h1></div>
        <div class='panel-body'><img class='img-responsive' [src]="recipeDetails.imagePath" alt="no pic is available"><br><p>{{recipeDetails.text}}</p></div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-lg-12'>
    <h2>Recipe Details</h2>
  </div>
</div>
<div class='row'>
  <div class='col-lg-12'>
    <div class="btn-group" appDropdown> 
     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
       Managerecipes <span class="caret"></span></button>
       <ul class="dropdown-menu" role="menu">
         <li><a (click)='addToShoppingList()' style="cursor:pointer;">To shopping list</a></li> 
         <li><a [routerLink]="['edit']">edit recipe</a></li>
         <li><a href="#">delete recipe</a></li>
       </ul>
   </div>
  </div>
  <div *ngIf='detailView'>
    <div class='col-lg-4'>
       <ul class="list-group">
        <li class="list-group-item" *ngFor='let item of recipeDetails.ingredients'>{{item.name}}-{{item.amount}}</li>
        </ul>
     </div>
  </div> 
</div>
