<div class='row' id="homeComponent">
    <div class='col-md-6 col-md-offset-3'>
        <div class="jumbotron">
            <h3 class="display-3">Welcome to MyRecipes!!</h3>
            <div class='loginbtncontainer'>
                <div class='signupbtn'>
                <a class='btn btn-primary'  routerLink='/signup'>Sign Up</a>
                </div>
                <div class='loginbtn'>
                <a  class='btn btn-primary' routerLink='/login'>Login In</a>
                </div>
            </div>
        </div>
    </div>
</div>
